<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="assets/mui/css/mui.min.css">
    <link rel="stylesheet" href="assets/fontAwesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/search.css">
    <script src="assets/zepto/zepto.min.js"></script>
    <script src="js/search.js"></script>
    <script src="assets/artTemplate/template-native.js"></script>
    <script src="assets/mui/js/mui.min.js"></script>
    <link rel="stylesheet" href="../mobile/css/search.css">
</head>
<body>
<header class="mui-bar mui-bar-nav my-header">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">搜索中心</h1>
</header>
<nav class="mui-bar mui-bar-tab my-footer">
    <a class="mui-tab-item mui-active" href="index.html">
        <span class="mui-icon mui-icon-home"></span>
        <span class="mui-tab-label">首页</span>
    </a>
    <a class="mui-tab-item" href="category.html">
        <span class="mui-icon mui-icon-bars"></span>
        <span class="mui-tab-label">分类</span>
    </a>
    <a class="mui-tab-item" href="cart.html">
        <span class="fa fa-shopping-cart mui-icon"></span>
        <span class="mui-tab-label">购物车</span>
    </a>
    <a class="mui-tab-item" href="user.html">
        <span class="mui-icon mui-icon-person"></span>
        <span class="mui-tab-label">会员中心</span>
    </a>
</nav>
<div class="mui-content">
    <div class="container mui-clearfix">
        <div class="search mui-clearfix">
            <input type="text" name="" id="" placeholder="搜索您喜欢的商品">
            <input type="button" value="搜索" class="search-box">
        </div>
    </div>
    <div class="history">
        <div class="mui-row">
            <div class="mui-col-xs-6">
                <span>搜索历史</span>
            </div>
            <div class="mui-col-xs-6">
                <span id="text" class="mui-icon mui-icon-trash clear">清空历史</span>
            </div>
        </div>
        <ul class="mui-table-view history-box">
        </ul>
    </div>
</div>
<script id="history-tpl" type="text/template">
    <% for(var i = 0;i< result.length; i++){ %>
    <li class="mui-table-view-cell"><%=result[i] %></li>
    <% } %>
</script>
</body>
</html>